name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    # Login to ACR
    - name: ACR Login
      run: |
        az acr login --name ${{ secrets.ACR_NAME }}
    
    # Build Docker Image
    - name: Build Docker Image
      run: |
        cd inventory_frontend
        REGISTRY=${{ secrets.ACR_NAME }}.azurecr.io
        IMAGE_NAME=inventory-frontend
        TAG=$(date +%s)
    
        docker build -t $REGISTRY/$IMAGE_NAME:$TAG .
    
    # Push Docker Image
    - name: Push Image to ACR
      run: |
        REGISTRY=${{ secrets.ACR_NAME }}.azurecr.io
        IMAGE_NAME=inventory-frontend
        TAG=latest
    
        docker push $REGISTRY/$IMAGE_NAME:$TAG
